body {
    background-image:url(../Bootstrap-Portfolio/leaves.png);
}
#aboutme{
    font-size: 35px;
    font-family: "Georgia", "Times", "Times New Roman", serif;
    color: black;
    text-align: left;

}

nav {
    margin: 50px;
    margin-top: 0px;
    font-size: 20px;

}

.fit-picture {
    width: 100%;
    float:left;
    padding: 10px;
}


footer {
    text-align: center;
    padding: 30px 20px 0px 20px;
    background-color: #666666;
    color: white;
    border-top:4px solid pink;
    position: fixed;
    bottom: 0;
    width: 100%;
}

  .text {
    text-align: center;
  }

  .text2 {
      text-align: center; 
  }
  .pic1 {
      width: 50%;
  }
  .container77 {
    position: relative;
    text-align: center;
  }